
@font-face {
	font-family:'Bellota-Regular';
	src:url('../fonts/Leander.ttf');
}
body {
	line-height: 17px;
}
.top_bar {
	width:100%;
	min-width: 1050px;
	height:50px;
	background-color: #12CBC4;
	border-bottom: 0.25em solid #1289A7;
	margin: 0 0 10px 0;
	display:inline-flex;
}
.logo a {
	font-family:'Bellota-Regular', sans-serif;
	margin-left: 20px;
	font-size: 150%;
	position: relative;
	top: 15px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
}
a:hover {
	text-decoration: none;
}
nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}
nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}
nav a:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
#user_first_name:hover {
	text-decoration:none;
	color: #E91E63;
	box-shadow: none;
}